ul {
  list-style-type: none;
}

h1,
h2,
h3,
h4 {
  margin: 40px 0px 30px;
  color: hsl(171, 100%, 29%);
}

p {
  margin: 1rem 0;
}
dl dt {
 
  margin-top: 0.5em;
  font-family: "Roboto", Corbel, Avenir, "Lucida Grande", "Lucida Sans",
    sans-serif;
  padding-left: 1em;
}
.left-dd {
  padding-left: 3em;
}
.highlight-me {
  color: hsl(171, 100%, 29%);
}
body ::selection {
  background-color: #20aa76;
  color: #f8f8f8;
}
