.detail-div-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 0rem 2rem 1rem 3rem; */
  padding: 2rem;
}
.code-snippet-div {
  width: 60vw;
  min-height: 8em;
  margin: 25px 0;
  background-color: #f4f4f4;
  border-radius: 0.25rem;
  border: 1px solid #858585;
}

.pre-div {
  text-align: left;
  padding: 1rem;
  overflow-y: auto;
  scrollbar-width: none;
}
.arrow-flex {
  display: flex;
  color: hsl(171, 100%, 29%);
  font-size: 1.3rem;
  margin-left: 5px;
}
.arrow-flex a {
  color: hsl(171, 100%, 29%);
}

.copy-icon-div {
  font-size: 2.2rem;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 2px 2px 2px 2px;
  color: hsl(171, 100%, 29%);
  padding: 1rem;
}
.copy-icon-div :hover {
  opacity: 0.9;
  color: #20aa76;
}

.copy-popup {
  background: #0c4b33;
  border: 2px solid;
  color: #fff;
  border-radius: 6px;
  width: 120px;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  text-align: center;
}
